@import '../../../variables.scss';
.ability {
	color: $color-primary-darker;
	border: 1px solid $color-primary-darker;
	@apply relative;
	@apply rounded-full;
	@apply z-10;
	@apply cursor-default;
	.ability-description {
		@apply invisible;
		opacity: 0;
		@apply absolute;
		transition: opacity 0.3s;
		top: 125%;
		left: 50%;
		margin-left: -60px;
		@apply text-xs;
		@apply text-left;
		min-width: fit-content;
		@apply p-2;
		@apply rounded-lg;
		@apply font-normal;
		background-color: $color-primary-darker;
		color: $color-type-text;

		&::before {
			content: '';
			@apply z-10;
			@apply absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: transparent transparent $color-primary-darker transparent;
		}
	}

	&:hover {
		.ability-description {
			@apply visible;
			opacity: 1;
		}
	}
}

@media (min-width: 1720px) {
	.ability {
		@apply py-2;
		@apply px-6;
		min-width: 15rem;
	}
}

@media (max-width: 1719px) {
	.ability {
		@apply py-1;
		@apply px-2;
		min-width: 11rem;
	}
}

@media (max-width: 1480px) {
	.ability {
		@apply py-1;
		@apply px-2;
		min-width: fit-content;
	}
}
