@import '../../variables.scss';
.home {
	@apply relative;
	@apply max-h-fit;
	flex: 1 1 auto;
	.background-overlay {
		@apply absolute;
		@apply z-0;
		@apply -mt-24;
		@apply w-full;
		background: radial-gradient(62.92% 267.35% at 62.92% 51%, #f9cbd0 0%, #95daf8 100%);
		height: calc(100vh);
	}
	.landing-page {
		@apply grid;
		@apply relative;
		@apply z-10;
		@apply grid-cols-2;
		height: fit-content;
		padding: 0 15.5625rem 0 9.75rem;
		color: $color-primary-darker;
		.intro-texts {
			padding: 14rem 0 7rem 0;
			@apply break-words;
			.intro {
				@apply font-bold;
				text-shadow: 4px 4px 4px white;
			}
			.description {
				@apply mt-6;
			}

			.copyright {
				@apply mt-4;
				font-size: 1.1em;
			}

			.action-btns {
				@apply mt-8;
				.proceed {
					background-color: $color-primary-darker;
					color: white;
					@apply rounded-full;
					@apply inline-block;
					font-size: 1.5em;
					transition: background-color 150ms ease-in-out;
					.action-btn {
						@apply flex;
						@apply flex-row;
						@apply items-center;
						width: fit-content;
						span:first-child {
							margin-right: 4px;
						}
					}

					&:hover {
						background-color: hsl(223, 60%, 39%);
					}
				}
			}
		}
		.intro-img {
			@apply relative;
			height: fit-content;
			.mascot {
				@apply absolute;
				height: auto;
				animation: mascot-img-animation 1s ease-in;
				animation-fill-mode: forwards;
			}
		}

		@keyframes mascot-img-animation {
			from {
				opacity: 0;
				top: 75px;
			}
			to {
				opacity: 1;
				top: 0;
			}
		}
	}
}

@media (min-width: 1920px) {
	.home {
		.landing-page {
			.intro-texts {
				.intro {
					@apply text-7xl;
					line-height: 88px;
				}
				.description {
					@apply text-3xl;
					line-height: 40px;
				}
				.copyright {
					@apply text-base;
				}

				.action-btns {
					.proceed {
						padding: 1.25rem 3.5rem;
					}
				}
			}

			.intro-img {
				.mascot {
					width: 620px;
					left: 10%;
				}
			}
		}
	}
}

@media (max-width: 1919px) {
	.home {
		.landing-page {
			.intro-texts {
				padding: 12rem 0 8rem 0;
				.intro {
					@apply text-7xl;
					line-height: 88px;
				}
				.description {
					@apply text-3xl;
					line-height: 40px;
				}
				.copyright {
					@apply text-base;
				}

				.action-btns {
					.proceed {
						padding: 1rem 3rem;
					}
				}
			}
			.intro-img {
				.mascot {
					width: 600px;
					left: 10%;
				}
			}
		}
	}
}

@media (max-width: 1720px) {
	.home {
		.background-overlay {
			height: calc(100vh + 4rem);
		}
		.landing-page {
			padding: 0 13rem 0 9.75rem;
			.intro-texts {
				padding: 12rem 0 10.75rem 0;
				.intro {
					@apply text-6xl;
					line-height: 80px;
				}
				.description {
					@apply text-xl;
					@apply mt-2;
					line-height: 32px;
				}
				.copyright {
					@apply text-sm;
				}

				.action-btns {
					.proceed {
						padding: 0.75rem 2.5rem;
						@apply text-lg;
					}
				}
			}
			.intro-img {
				.mascot {
					transform: scale(0.8);
					-ms-transform: scale(0.8);
					-webkit-transform: scale(0.8);
				}
			}
		}
	}
}

@media (max-width: 1480px) {
	.home {
		.background-overlay {
			@apply -mt-20;
			height: calc(100% + 10rem);
		}
		.landing-page {
			height: fit-content;
			padding: 0 13rem 0 9.75rem;
			.intro-texts {
				padding: 8rem 0 6rem 0;
				.intro {
					@apply text-6xl;
					line-height: 80px;
				}
				.description {
					@apply text-xl;
					@apply mt-2;
					line-height: 32px;
				}
				.copyright {
					@apply text-sm;
				}

				.action-btns {
					.proceed {
						padding: 0.75rem 2.5rem;
						@apply text-lg;
					}
				}
			}
			.intro-img {
				.mascot {
					transform: scale(0.8);
					-ms-transform: scale(0.8);
					-webkit-transform: scale(0.8);
				}
			}
		}
	}
}

@media (max-width: 1280px) {
	.home {
		.background-overlay {
			height: calc(100vh + 1rem);
		}
		.landing-page {
			height: fit-content;
			padding: 0 13rem 0 9.75rem;
			.intro-texts {
				padding: 4rem 0 2rem 0;
				.intro {
					@apply text-5xl;
					line-height: 60px;
				}
				.description {
					@apply text-lg;
					@apply mt-2;
					line-height: 24px;
				}
				.copyright {
					@apply mt-2;
				}

				.action-btns {
					@apply mt-4;
					.proceed {
						padding: 0.75rem 2rem;
						@apply text-base;
					}
				}
			}
			.intro-img {
				.mascot {
					transform: scale(0.8);
					-ms-transform: scale(0.8);
					-webkit-transform: scale(0.8);
				}
			}
		}
	}
}
