@import '../../../variables.scss';
.sprite {
	@apply table-cell;
	@apply justify-items-center;
	.pokemon-official-artwork {
		@apply table-row;
		& img {
			@apply h-auto;
			@apply w-full;
		}
	}

	.fallback-img {
		@apply w-fit;
		@apply h-fit;
		& img {
			@apply mx-auto;
			@apply h-auto;
		}
	}
	.label {
		@apply text-2xl;
		@apply font-semibold;
		color: $color-primary-darker;
		@apply w-fit;
		@apply flex;
		@apply m-auto;
	}
}

@media (min-width: 1720px) {
	.sprite {
		width: 50%;
		@apply mt-10;
		.fallback-img {
			$fallback-scale: 1.5;
			& img {
				transform: scale($fallback-scale);
				-ms-transform: scale($fallback-scale);
				-webkit-transform: scale($fallback-scale);
			}
		}
		.label {
			&.fallback-label {
				@apply mt-20;
			}
		}
	}
}

@media (max-width: 1719px) {
	.sprite {
		width: 45%;
		@apply mt-16;
		.fallback-img {
			$fallback-scale: 1.3;
			& img {
				transform: scale($fallback-scale);
				-ms-transform: scale($fallback-scale);
				-webkit-transform: scale($fallback-scale);
			}
		}

		.label {
			&.fallback-label {
				@apply mt-12;
			}
		}
	}
}

@media (max-width: 1480px) {
	.sprite {
		@apply mt-8;
		width: 40%;
		.fallback-img {
			$fallback-scale: 1.1;
			& img {
				transform: scale($fallback-scale);
				-ms-transform: scale($fallback-scale);
				-webkit-transform: scale($fallback-scale);
			}
		}
		.label {
			@apply text-lg;
			.fallback-label {
				@apply mt-10;
			}
		}
	}
}

@media (max-width: 1280px) {
	.sprite {
		@apply mt-8;
		width: 35%;
		.fallback-img {
			$fallback-scale: 1;
			& img {
				transform: scale($fallback-scale);
				-ms-transform: scale($fallback-scale);
				-webkit-transform: scale($fallback-scale);
			}
		}
		.label {
			&.fallback-label {
				@apply mt-8;
			}
		}
	}
}
