.container-sprites {
	@apply inline-flex;
	@apply flex-row;
	@apply w-full;
	@apply absolute;
	top: -45%;
	@apply justify-evenly;
	&.fallback {
		top: -35%;
	}
}

@media (max-width: 1480px) {
	.container-sprites {
		&.fallback {
			top: -42.5%;
		}
	}
}

@media (max-width: 1280px) {
	.container-sprites {
		&.fallback {
			top: -45%;
		}
	}
}
