@import '../../../variables.scss';
.item-container {
	font-family: 'Montserrat', sans-serif;
	@apply relative;
	@apply rounded-3xl;
	@apply bg-white;
	box-shadow: 0px 8px 4px hsla(0, 0%, 71%, 0.25);
	@apply grid;
	@apply flex-col;
	@apply text-center;
	@apply w-full;
	transition: transform ease-out 0.2s;
	color: $color-black;
	.pokemon-official-art {
		@apply absolute;
	}
	.fallback-img {
		@apply absolute;
	}
	.pokemon-id {
		@apply font-semibold;
		@apply text-sm;
	}
	.pokemon-name {
		@apply font-bold;
		@apply mb-2;
	}

	.pokemon-type {
		@apply self-center;
		@apply flex;
		@apply flex-row;
		@apply justify-self-center;
		.type {
			@apply w-fit;
			@apply rounded-xl;
			@apply font-medium;
			@apply text-white;
		}
	}

	&:hover {
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
}

@media (min-width: 1720px) {
	.item-container {
		padding: 4.5rem 1.5rem 1.5rem 1.5rem;
		@apply mt-36;
		.pokemon-official-art {
			bottom: 96px;
			left: 0;
			transform: scale(0.75);
			-ms-transform: scale(0.75);
			-webkit-transform: scale(0.75);
		}

		.fallback-img {
			bottom: 135px;
			right: 2rem;
			transform: scale(0.75);
			-ms-transform: scale(0.75);
			-webkit-transform: scale(0.75);
		}
		.pokemon-name {
			@apply text-2xl;
		}

		.pokemon-type {
			.type {
				@apply p-2;
				@apply text-base;
				@apply mx-2;
			}
		}
	}
}

@media (max-width: 1719px) {
	.item-container {
		@apply w-52;
		@apply mt-28;
		padding: 4.5rem 1rem 1rem 1rem;
		.pokemon-official-art {
			bottom: 88px;
			left: 0;
			transform: scale(0.7);
			-ms-transform: scale(0.7);
			-webkit-transform: scale(0.7);
		}
		.fallback-img {
			bottom: 108px;
			right: 0;
			transform: scale(0.7);
			-ms-transform: scale(0.7);
			-webkit-transform: scale(0.7);
		}
		.pokemon-name {
			@apply text-lg;
		}

		.pokemon-type {
			.type {
				@apply text-sm;
				@apply p-2;
				@apply mx-2;
			}
		}
	}
}

@media (max-width: 1480px) {
	.item-container {
		@apply w-44;
		@apply mt-24;
		padding: 3rem 1rem 1rem 1rem;
		.pokemon-official-art {
			bottom: 72px;
			left: 0;
			transform: scale(0.6);
			-ms-transform: scale(0.6);
			-webkit-transform: scale(0.6);
		}
		.fallback-img {
			bottom: 96px;
			right: -15px;
			transform: scale(0.6);
			-ms-transform: scale(0.6);
			-webkit-transform: scale(0.6);
		}
		.pokemon-name {
			@apply text-base;
		}

		.pokemon-type {
			.type {
				@apply text-xs;
				padding: 0.5rem 0.25rem;
				@apply rounded-lg;
			}
		}
	}
}

@media (max-width: 1280px) {
	.item-container {
		@apply w-36;
		@apply mt-14;
		padding: 3rem 0.5rem 1rem 0.5rem;
		.pokemon-official-art {
			bottom: 72px;
			left: 0;
			transform: scale(0.6);
			-ms-transform: scale(0.6);
			-webkit-transform: scale(0.6);
		}
		.fallback-img {
			bottom: 96px;
			right: -15px;
			transform: scale(0.6);
			-ms-transform: scale(0.6);
			-webkit-transform: scale(0.6);
		}
		.pokemon-name {
			@apply text-sm;
		}

		.pokemon-type {
			.type {
				@apply text-xs;
				padding: 0.5rem 0.25rem;
				@apply rounded-lg;
				@apply mx-1;
			}
		}
	}
}
