@import './variables.scss';
.type-normal {
	background-color: $color-type-normal;
}

.type-water {
	background-color: $color-type-water;
}

.type-fire {
	background-color: $color-type-fire;
}

.type-grass {
	background-color: $color-type-grass;
}

.type-electric {
	background-color: $color-type-electric;
}

.type-psychic {
	background-color: $color-type-psychic;
}

.type-dark {
	background-color: $color-type-dark;
}

.type-rock {
	background-color: $color-type-rock;
}

.type-ground {
	background-color: $color-type-ground;
}

.type-ice {
	background-color: $color-type-ice;
}

.type-flying {
	background-color: $color-type-flying;
}

.type-fighting {
	background-color: $color-type-fighting;
}

.type-fairy {
	background-color: $color-type-fairy;
}

.type-ghost {
	background-color: $color-type-ghost;
}

.type-dragon {
	background-color: $color-type-dragon;
}

.type-steel {
	background-color: $color-type-steel;
}

.type-bug {
	background-color: $color-type-bug;
}

.type-poison {
	background-color: $color-type-poison;
}

.type-none {
	background-color: $color-container-outline-primary;
	color: black !important;
}

.App {
	min-height: 100vh;
	min-width: 100vw;
	@apply grid;
	@apply grid-cols-1;
	grid-template-rows: 96px 1fr;
}

main {
	min-width: 0;
}
