@import './variables.scss';
.App {
	min-height: 100vh;
	min-width: 100vw;
	@apply grid;
	@apply grid-cols-1;
	grid-template-rows: 96px 1fr;
	@apply relative;
}

main {
	min-width: 0;
}

.type-normal {
	background-color: $color-type-normal;
}

.type-water {
	background-color: $color-type-water;
}

.type-fire {
	background-color: $color-type-fire;
}

.type-grass {
	background-color: $color-type-grass;
}

.type-electric {
	background-color: $color-type-electric;
}

.type-psychic {
	background-color: $color-type-psychic;
}

.type-dark {
	background-color: $color-type-dark;
}

.type-rock {
	background-color: $color-type-rock;
}

.type-ground {
	background-color: $color-type-ground;
}

.type-ice {
	background-color: $color-type-ice;
}

.type-flying {
	background-color: $color-type-flying;
}

.type-fighting {
	background-color: $color-type-fighting;
}

.type-fairy {
	background-color: $color-type-fairy;
}

.type-ghost {
	background-color: $color-type-ghost;
}

.type-dragon {
	background-color: $color-type-dragon;
}

.type-steel {
	background-color: $color-type-steel;
}

.type-bug {
	background-color: $color-type-bug;
}

.type-poison {
	background-color: $color-type-poison;
}

//

.type-normal-dark {
	background-color: $color-type-normal-dark;
}

.type-water-dark {
	background-color: $color-type-water-dark;
}

.type-fire-dark {
	background-color: $color-type-fire-dark;
}

.type-grass-dark {
	background-color: $color-type-grass-dark;
}

.type-electric-dark {
	background-color: $color-type-electric-dark;
}

.type-psychic-dark {
	background-color: $color-type-psychic-dark;
}

.type-dark-dark {
	background-color: $color-type-dark-dark;
}

.type-rock-dark {
	background-color: $color-type-rock-dark;
}

.type-ground-dark {
	background-color: $color-type-ground-dark;
}

.type-ice-dark {
	background-color: $color-type-ice-dark;
}

.type-flying-dark {
	background-color: $color-type-flying-dark;
}

.type-fighting-dark {
	background-color: $color-type-fighting-dark;
}

.type-fairy-dark {
	background-color: $color-type-fairy-dark;
}

.type-ghost-dark {
	background-color: $color-type-ghost-dark;
}

.type-dragon-dark {
	background-color: $color-type-dragon-dark;
}

.type-steel-dark {
	background-color: $color-type-steel-dark;
}

.type-bug-dark {
	background-color: $color-type-bug-dark;
}

.type-poison-dark {
	background-color: $color-type-poison-dark;
}

.type-none {
	background-color: $color-container-outline-primary;
	color: black !important;
}

.stat-hp {
	background-color: $color-stat-hp-primary;
	border: 1px solid $color-stat-hp-secondary;
}

.stat-attack {
	background-color: $color-stat-atk-primary;
	border: 1px solid $color-stat-atk-secondary;
}

.stat-defense {
	background-color: $color-stat-def-primary;
	border: 1px solid $color-stat-def-secondary;
}

.stat-special-attack {
	background-color: $color-stat-sp-atk-primary;
	border: 1px solid $color-stat-sp-atk-secondary;
}

.stat-special-defense {
	background-color: $color-stat-sp-def-primary;
	border: 1px solid $color-stat-sp-def-secondary;
}

.stat-speed {
	background-color: $color-stat-spd-primary;
	border: 1px solid $color-stat-spd-secondary;
}
