$color-primary: #95daf8;
$color-primary-darker: #3c5aa6;
$color-primary-sub: #6e82b7;
$color-secondary: #f9cbd0;
$color-secondary-darker: #f492a5;
$color-secondary-sub: #f7e8d8;
$color-container-outline-primary: #e5e5e5;
$color-container-outline-secondary: #c3c3c3;

$color-type-normal: #a8a878;
$color-type-grass: #78c850;
$color-type-water: #6890f0;
$color-type-fire: #f08030;
$color-type-electric: #f8d030;
$color-type-ground: #e0c068;
$color-type-bug: #a8b820;
$color-type-dark: #705848;
$color-type-ice: #98d8d8;
$color-type-poison: #a040a0;
$color-type-rock: #b8a038;
$color-type-steel: #b8b8d0;
$color-type-flying: #a890f0;
$color-type-fairy: #ee99ac;
$color-type-ghost: #705898;
$color-type-psychic: #f85888;
$color-type-fighting: #c03028;
$color-type-dragon: #7038f8;
