$color-primary: #95daf8;
$color-primary-darker: #3c5aa6;
$color-primary-sub: #6e82b7;
$color-secondary: #f9cbd0;
$color-secondary-darker: #f492a5;
$color-secondary-sub: #f7e8d8;
$color-container-outline-primary: #e5e5e5;
$color-container-outline-secondary: #c3c3c3;
$color-black: #121212;

$color-type-normal: #a8a878;
$color-type-grass: #78c850;
$color-type-water: #6890f0;
$color-type-fire: #f08030;
$color-type-electric: #f8d030;
$color-type-ground: #e0c068;
$color-type-bug: #a8b820;
$color-type-dark: #705848;
$color-type-ice: #98d8d8;
$color-type-poison: #a040a0;
$color-type-rock: #b8a038;
$color-type-steel: #b8b8d0;
$color-type-flying: #a890f0;
$color-type-fairy: #ee99ac;
$color-type-ghost: #705898;
$color-type-psychic: #f85888;
$color-type-fighting: #c03028;
$color-type-dragon: #7038f8;
$color-type-text: #fff;

$color-stat-hp-primary: #ff0000;
$color-stat-hp-secondary: #a60000;
$color-stat-atk-primary: #f08030;
$color-stat-atk-secondary: #9c531f;
$color-stat-def-primary: #f8d030;
$color-stat-def-secondary: #a1871f;
$color-stat-sp-atk-primary: #6890f0;
$color-stat-sp-atk-secondary: #445e9c;
$color-stat-sp-def-primary: #78c850;
$color-stat-sp-def-secondary: #4e8234;
$color-stat-spd-primary: #f85888;
$color-stat-spd-secondary: #a13959;

// :export {
// 	primary: $color-primary;
// 	primaryDarkder: $color-primary-darker;
// 	primarySub: $color-primary-sub;
// 	secondary: $color-secondary;
// 	secondaryDarker: $color-secondary-darker;
// 	secondarySub: $color-secondary-sub;
// 	containerOutlinePrimary: $color-container-outline-primary;
// 	containerOutlineSecondary: $color-container-outline-secondary;

// 	typeNormal: $color-type-normal;
// 	typeWater: $color-type-water;
// 	typeFire: $color-type-fire;
// 	typeGrass: $color-type-grass;
// 	typeDark: $color-type-dark;
// 	typePoison: $color-type-poison;
// 	typePsychic: $color-type-psychic;
// 	typeDragon: $color-type-dragon;
// 	typeFlying: $color-type-flying;
// 	typeFighting: $color-type-fighting;
// 	typeGhost: $color-type-ghost;
// 	typeBug: $color-type-bug;
// 	typeElectric: $color-type-electric;
// 	typeGround: $color-type-ground;
// 	typeRock: $color-type-rock;
// 	typeIce: $color-type-ice;
// 	typeFairy: $color-type-fairy;
// 	typeSteel: $color-type-steel;
// }
