$color-primary: #95daf8;
$color-primary-darker: #3c5aa6;
$color-primary-sub: #6e82b7;
$color-secondary: #f9cbd0;
$color-secondary-darker: #f492a5;
$color-secondary-sub: #f7e8d8;
$color-container-outline-primary: #e5e5e5;
$color-container-outline-secondary: #c3c3c3;
$color-black: #121212;

$color-type-normal: #a8a878;
$color-type-grass: #78c850;
$color-type-water: #6890f0;
$color-type-fire: #f08030;
$color-type-electric: #f8d030;
$color-type-ground: #e0c068;
$color-type-bug: #a8b820;
$color-type-dark: #705848;
$color-type-ice: #98d8d8;
$color-type-poison: #a040a0;
$color-type-rock: #b8a038;
$color-type-steel: #b8b8d0;
$color-type-flying: #a890f0;
$color-type-fairy: #ee99ac;
$color-type-ghost: #705898;
$color-type-psychic: #f85888;
$color-type-fighting: #c03028;
$color-type-dragon: #7038f8;
$color-type-text: #ffffff;

$color-type-normal-dark: #6d6d4e;
$color-type-grass-dark: #4e8234;
$color-type-water-dark: #445e9c;
$color-type-fire-dark: #9c531f;
$color-type-electric-dark: #a1871f;
$color-type-ground-dark: #927d44;
$color-type-bug-dark: #6d7815;
$color-type-dark-dark: #49392f;
$color-type-ice-dark: #638d8d;
$color-type-poison-dark: #682a68;
$color-type-rock-dark: #786824;
$color-type-steel-dark: #787887;
$color-type-flying-dark: #6d5e9c;
$color-type-fairy-dark: #9b6470;
$color-type-ghost-dark: #493963;
$color-type-psychic-dark: #a13959;
$color-type-fighting-dark: #7d1f1a;
$color-type-dragon-dark: #4924a1;

$color-stat-hp-primary: #ff0000;
$color-stat-hp-secondary: #a60000;
$color-stat-atk-primary: #f08030;
$color-stat-atk-secondary: #9c531f;
$color-stat-def-primary: #f8d030;
$color-stat-def-secondary: #a1871f;
$color-stat-sp-atk-primary: #6890f0;
$color-stat-sp-atk-secondary: #445e9c;
$color-stat-sp-def-primary: #78c850;
$color-stat-sp-def-secondary: #4e8234;
$color-stat-spd-primary: #f85888;
$color-stat-spd-secondary: #a13959;
