@import '../../variables.scss';
.presentational-container {
	@apply grid;
	@apply flex-col;
	@apply justify-items-center;
	@apply text-center;
	.pokemon-official-artwork {
		@apply absolute;
		top: 0rem;
		& img {
			@apply mx-auto;
			@apply h-auto;
		}
	}

	.fallback-img {
		@apply absolute;
		& img {
			@apply mx-auto;
			@apply h-auto;
		}
	}
	.pokemon-id {
		color: $color-container-outline-secondary;
		@apply font-medium;
		@apply mt-4;
	}
	.pokemon-name {
		@apply font-bold;
		@apply mb-4;
	}
	.pokemon-type {
		@apply self-center;
		@apply flex;
		@apply flex-row;
		@apply justify-self-center;
		@apply mt-4;
		.type {
			@apply rounded-xl;
			@apply font-medium;
			@apply text-white;
			@apply mx-2;
		}
	}
	.abilities {
		@apply font-semibold;
		@apply mt-8;
		@apply flex;
		@apply flex-col;
		.abilities-container {
			@apply flex;
			@apply flex-row;
			@apply mt-3;
			@apply gap-x-8;
			@apply gap-y-4;
			@apply justify-center;
			@apply self-center;
			@apply flex-wrap;
			@apply px-10;
			.ability {
				color: $color-primary-darker;
				border: 1px solid $color-primary-darker;
				@apply relative;
				@apply rounded-full;

				@apply cursor-default;
				.ability-description {
					@apply invisible;
					@apply absolute;
					transition: opacity 0.3s;
					top: 125%;
					left: 50%;
					margin-left: -60px;
					@apply text-xs;
					@apply text-left;
					min-width: fit-content;
					@apply p-2;
					@apply rounded-lg;
					background-color: $color-primary-darker;
					color: $color-type-text;
					opacity: 0;
					&::after {
						content: '';
						@apply absolute;
						bottom: 100%;
						left: 50%;
						margin-left: -5px;
						border-width: 5px;
						border-style: solid;
						border-color: transparent transparent $color-primary-darker transparent;
					}
				}

				&:hover {
					.ability-description {
						@apply visible;
						opacity: 1;
					}
				}
			}
		}
	}

	.label {
		@apply font-semibold;
	}

	.sub-info {
		@apply flex;
		@apply flex-row;
		@apply gap-x-8;
		.sub-info-section {
			.info {
				@apply font-semibold;
				background-color: $color-container-outline-primary;
				@apply rounded-full;
				@apply py-2;
			}
		}
	}

	.stats {
		@apply mt-8;
		@apply w-full;
		.stats-container {
			@apply grid;
			@apply flex-col;
			.stat-container {
				@apply my-2;
				@apply grid;
				@apply justify-self-center;
				.numeric-value {
					@apply grid;
					@apply font-medium;
					.stat-name {
						@apply text-left;
					}
				}
				.chart {
					@apply rounded-sm;
				}
			}
		}
	}
}

@media (min-width: 1720px) {
	.presentational-container {
		& img {
			transform: scale(0.8);
			-ms-transform: scale(0.8);
			-webkit-transform: scale(0.8);
		}
	}

	.fallback-img {
		top: 6rem;
		& img {
			transform: scale(1.5);
			-ms-transform: scale(1.5);
			-webkit-transform: scale(1.5);
		}
	}
	.pokemon-id {
		@apply text-2xl;
	}

	.pokemon-name {
		@apply text-5xl;
	}

	.pokemon-type {
		.type {
			@apply w-40;
			@apply text-xl;
			@apply py-3;
		}
	}

	.abilities {
		@apply text-3xl;
		.abilities-container {
			.ability {
				@apply py-2;
				@apply px-6;
				min-width: 15rem;
			}
		}
	}

	.label {
		@apply text-3xl;
	}

	.sub-info {
		@apply text-2xl;
		.sub-info-section {
			@apply mt-8;
			.info {
				@apply mt-4;
			}
		}
	}

	.stats {
		@apply px-20;
		.stats-container {
			.stat-container {
				grid-template-columns: 16rem 255px;
				.numeric-value {
					@apply grid-cols-5;
					@apply text-2xl;
					.stat-name {
						@apply col-span-4;
					}
				}
			}
		}
	}
}

@media (max-width: 1719px) {
	.presentational-container {
		& img {
			transform: scale(0.7);
			-ms-transform: scale(0.7);
			-webkit-transform: scale(0.7);
		}
	}

	.fallback-img {
		top: 6rem;
		& img {
			transform: scale(1.3);
			-ms-transform: scale(1.3);
			-webkit-transform: scale(1.3);
		}
	}

	.pokemon-id {
		@apply text-xl;
	}

	.pokemon-name {
		@apply text-4xl;
	}

	.pokemon-type {
		.type {
			@apply w-36;
			@apply text-lg;
			@apply py-2;
		}
	}

	.abilities {
		@apply text-2xl;
		.abilities-container {
			.ability {
				@apply py-1;
				@apply px-2;
				min-width: 11rem;
			}
		}
	}

	.label {
		@apply text-2xl;
	}

	.sub-info {
		@apply text-xl;
		.sub-info-section {
			@apply mt-4;
			.info {
				@apply mt-2;
			}
		}
	}

	.stats {
		@apply px-10;
		.stats-container {
			.stat-container {
				grid-template-columns: 14rem 255px;
				.numeric-value {
					@apply grid-cols-12;
					@apply text-xl;
					.stat-name {
						@apply col-span-10;
					}
				}
			}
		}
	}
}

@media (max-width: 1480px) {
	.presentational-container {
		& img {
			transform: scale(0.6);
			-ms-transform: scale(0.6);
			-webkit-transform: scale(0.6);
		}
	}

	.fallback-img {
		top: 6rem;
		& img {
			transform: scale(1.1);
			-ms-transform: scale(1.1);
			-webkit-transform: scale(1.1);
		}
	}

	.pokemon-id {
		@apply text-lg;
	}

	.pokemon-name {
		@apply text-3xl;
	}

	.pokemon-type {
		.type {
			@apply w-32;
			@apply text-base;
			@apply py-2;
		}
	}

	.abilities {
		@apply text-xl;
		.abilities-container {
			.ability {
				@apply py-1;
				@apply px-2;
				min-width: fit-content;
			}
		}
	}

	.label {
		@apply text-xl;
	}

	.sub-info {
		@apply text-lg;
		.sub-info-section {
			@apply mt-2;
			.info {
				@apply mt-1;
			}
		}
	}

	.stats {
		@apply px-5;
		.stats-container {
			.stat-container {
				grid-template-columns: 12rem 255px;
				.numeric-value {
					@apply grid-cols-12;
					@apply text-lg;
					.stat-name {
						@apply col-span-10;
					}
				}
			}
		}
	}
}
