@import '../../variables.scss';
.presentational-container {
	@apply grid;
	@apply flex-col;
	@apply justify-items-center;
	@apply text-center;
	@apply relative;
	.pokemon-official-artwork {
		@apply absolute;
		& img {
			@apply mx-auto;
			@apply h-auto;
		}
	}

	.fallback-img {
		@apply absolute;
		& img {
			@apply mx-auto;
			@apply h-auto;
		}
	}
	.pokemon-id {
		color: $color-container-outline-secondary;
		@apply font-medium;
		@apply mt-4;
	}
	.pokemon-name {
		@apply font-bold;
	}
	.abilities {
		@apply font-semibold;
		@apply flex;
		@apply flex-col;
	}

	.label {
		@apply font-semibold;
	}

	.sub-info {
		@apply flex;
		@apply flex-row;
		@apply gap-x-8;
		.sub-info-section {
			.info {
				@apply font-semibold;
				background-color: $color-container-outline-primary;
				@apply rounded-full;
				@apply py-2;
			}
		}
	}

	.stats {
		@apply w-full;
	}
}

@media (min-width: 1720px) {
	.presentational-container {
		.pokemon-official-artwork {
			top: -50%;
			& img {
				transform: scale(0.8);
				-ms-transform: scale(0.8);
				-webkit-transform: scale(0.8);
			}
		}
	}

	.fallback-img {
		top: 6rem;
		top: -35%;
		& img {
			transform: scale(1.5);
			-ms-transform: scale(1.5);
			-webkit-transform: scale(1.5);
		}
	}
	.pokemon-id {
		@apply text-2xl;
	}

	.pokemon-name {
		@apply text-5xl;
		@apply mb-4;
	}

	.abilities {
		@apply mt-8;
		@apply text-3xl;
	}

	.label {
		@apply text-3xl;
	}

	.sub-info {
		@apply text-2xl;
		.sub-info-section {
			@apply mt-8;
			.info {
				@apply mt-4;
			}
		}
	}

	.stats {
		@apply px-20;
		@apply mt-8;
	}
}

@media (max-width: 1719px) {
	.presentational-container {
		.pokemon-official-artwork {
			top: -55%;
			& img {
				transform: scale(0.7);
				-ms-transform: scale(0.7);
				-webkit-transform: scale(0.7);
			}
		}
	}

	.fallback-img {
		top: -40%;
		& img {
			transform: scale(1.3);
			-ms-transform: scale(1.3);
			-webkit-transform: scale(1.3);
		}
	}

	.pokemon-id {
		@apply text-xl;
	}

	.pokemon-name {
		@apply text-4xl;
		@apply mb-4;
	}

	.abilities {
		@apply text-2xl;
		@apply mt-6;
	}

	.label {
		@apply text-2xl;
	}

	.sub-info {
		@apply text-xl;
		.sub-info-section {
			@apply mt-4;
			.info {
				@apply mt-2;
			}
		}
	}

	.stats {
		@apply px-10;
		@apply mt-4;
	}
}

@media (max-width: 1480px) {
	.presentational-container {
		.pokemon-official-artwork {
			top: -60%;
			& img {
				transform: scale(0.6);
				-ms-transform: scale(0.6);
				-webkit-transform: scale(0.6);
			}
		}
	}

	.fallback-img {
		top: -40%;
		& img {
			transform: scale(1.1);
			-ms-transform: scale(1.1);
			-webkit-transform: scale(1.1);
		}
	}

	.pokemon-id {
		@apply text-lg;
	}

	.pokemon-name {
		@apply text-3xl;
	}

	.abilities {
		@apply text-xl;
		@apply mt-2;
	}

	.label {
		@apply text-xl;
	}

	.sub-info {
		@apply text-lg;
		.sub-info-section {
			@apply mt-2;
			.info {
				@apply mt-1;
			}
		}
	}

	.stats {
		@apply px-5;
		@apply mt-2;
	}
}

@media (max-width: 1280px) {
	.presentational-container {
		.pokemon-official-artwork {
			top: -65%;
			& img {
				transform: scale(0.5);
				-ms-transform: scale(0.5);
				-webkit-transform: scale(0.5);
			}
		}
	}

	.fallback-img {
		top: -45%;
		& img {
			transform: scale(1.2);
			-ms-transform: scale(1.2);
			-webkit-transform: scale(1.2);
		}
	}

	.pokemon-id {
		@apply text-base;
	}

	.pokemon-name {
		@apply text-2xl;
		@apply mb-1;
	}

	.abilities {
		@apply text-lg;
	}

	.label {
		@apply text-base;
	}

	.sub-info {
		@apply text-base;
		.sub-info-section {
			@apply mt-2;
			.info {
				@apply mt-1;
			}
		}
	}

	.stats {
		@apply px-5;
	}
}
